<doctype html>
{% block body %}
<p onmousedown="set_xy(event)" ><img id="theImg" src="../static/images/{{record}}" width="968" /></p>
<canvas id='myCanvas' width="968" height="950"></canvas>
<div id="img_src">
</div>
<script type="text/javascript">
function mark_image(coords) {
  var img = document.getElementById("img_src");
  var cnvs = document.getElementById("myCanvas");
  
  cnvs.style.position = "absolute";
  cnvs.style.left = img.offsetLeft + "px";
  cnvs.style.top = img.offsetTop + "px";
  for (var i in coords) {
    var ctx = cnvs.getContext("2d");
    ctx.beginPath();
    ctx.arc(coords[i].x, coords[i].y, 10, 0, 2 * Math.PI, false);
    ctx.lineWidth = 3;
    ctx.strokeStyle = '#00ff00';
    ctx.stroke();
  }
}

function set_xy(evt) {
  console.log("clientX: " + evt.clientX + " - clientY: " + evt.clientY)
  var x = document.getElementById("img_src");
  var createform = document.createElement('form'); // Create New Element Form
  createform.setAttribute("action", ""); // Setting Action Attribute on Form
  createform.setAttribute("method", "post"); // Setting Method Attribute on Form
  createform.setAttribute("enctype", "multipart/form-data");

  var namelabel = document.createElement('label'); // Create Label for Name Field
  namelabel.innerHTML = "Please upload file "; // Set Field Labels
  createform.appendChild(namelabel);

  var xelement = document.createElement('input');
  xelement.setAttribute("value", evt.clientX);
  xelement.setAttribute("name", "x");
  xelement.setAttribute("type", "hidden");
  createform.appendChild(xelement);

  var yelement = document.createElement('input');
  yelement.setAttribute("value", evt.clientY);
  yelement.setAttribute("name", "y");
  yelement.setAttribute("type", "hidden");
  createform.appendChild(yelement);

  var inputelement = document.createElement('input'); // Create Input Field for Name
  inputelement.setAttribute("type", "file");
  inputelement.setAttribute("name", "file");
  createform.appendChild(inputelement);

  // Submit
  var submitelement = document.createElement('input'); // Append Submit Button
  submitelement.setAttribute("type", "submit");
  submitelement.setAttribute("name", "dsubmit");
  submitelement.setAttribute("value", "Submit");
  createform.appendChild(submitelement);

  x.appendChild(createform);

}

document.addEventListener("dblclick", set_xy);
</script>
<script type="text/javascript">mark_image({{coords | safe}})</script>
{% endblock %}
