<head>
<link rel=stylesheet type=text/css href="..{{ url_for('static', filename='style.css') }}">
</head>
{% block body %}
{% if layout == '"portrait"' %}
  <div id="port_img_load"></div>
{% else %}
  <div id="land_img_load"></div>
{% endif %}
<div class="outsideWrapper" >
    <div class="insideWrapper">
      <canvas class="coveringCanvas" id='myCanvas'></canvas>
<div style='display:none'>
  <img class="coveredImage" id="img_src" src="glam/../../{{record}}">
</div>
<script type="text/javascript">
{% if layout == '"portrait"' %}
var width = 521;
var height = 968;
{% else %}
var width = 968;
var height = 521;
{% endif %}
</script>
</div>
<div>

<script type="text/javascript">
var coord = Array();
var img = document.getElementById("img_src");
var cnvs = document.getElementById("myCanvas");
cnvs.addEventListener("dblclick", set_xy);
var ctx = cnvs.getContext("2d");

function mark_image(coords) {
  
  var imageObj =new Image(width, height);
  imageObj.onload = function() {
    ctx.drawImage(this ,0,0, width, height);
  };
  imageObj.src = "glam/../../{{record}}";  
  cnvs.style.position = "absolute";
  cnvs.style.left = img.offsetLeft + "px";
  cnvs.style.top = img.offsetTop + "px";
  cnvs.width = width;
  cnvs.height = height;
  cnvs.style.width = width;
  cnvs.style.height = height;
  for (var i in coords) {
    let _tmpwidth = width * coords[i].x;
    let _tmpheight = height * coords[i].y;
    console.log("tmp " + _tmpwidth);
    coord.push(coords[i])
    ctx.beginPath();
    ctx.arc(_tmpwidth, _tmpheight, 10, 0, 2 * Math.PI, false);
    ctx.lineWidth = 3;
    ctx.strokeStyle = '#00ff00';
    ctx.stroke();
  }
  ctx.save();
  ctx.globalCompositeOperation = "destination-over";
}

function set_xy(evt) {

  coord.push({'x': evt.clientX, 'y': evt.clientY});
  console.log('x ' + evt.clientX);
  console.log('y ' + evt.clientY);
  var _width = (evt.clientX/width);
  var _height = (evt.clientY/height);
  mark_image(coord);
  console.log("coordinates");
  console.log(coord);

  //var x = document.getElementById("img_load");
  {% if layout == '"portrait"' %}
    var x = document.getElementById("port_img_load");
  {% else %}
    var x = document.getElementById("land_img_load");
  {% endif %}
  var createform = document.createElement('form'); // Create New Element Form
  createform.setAttribute("action", ""); // Setting Action Attribute on Form
  createform.setAttribute("method", "post"); // Setting Method Attribute on Form
  createform.setAttribute("enctype", "multipart/form-data");

  var namelabel = document.createElement('label'); // Create Label for Name Field
  namelabel.innerHTML = "Please upload file "; // Set Field Labels
  createform.appendChild(namelabel);

  var xelement = document.createElement('input');
  xelement.setAttribute("value", _width);
  xelement.setAttribute("name", "x");
  xelement.setAttribute("type", "hidden");
  createform.appendChild(xelement);

  var yelement = document.createElement('input');
  yelement.setAttribute("value", _height);
  yelement.setAttribute("name", "y");
  yelement.setAttribute("type", "hidden");
  createform.appendChild(yelement);

  // Set the description
  var inputelement = document.createElement('input');
  inputelement.setAttribute("type", "file");
  inputelement.setAttribute("name", "desc");
  createform.appendChild(inputelement);

  //Set the details 
  var detailelement = document.createElement('input');
  detailelement.setAttribute("type", "file");
  detailelement.setAttribute("name", "detail");
  createform.appendChild(detailelement);

  // Submit
  var submitelement = document.createElement('input'); // Append Submit Button
  submitelement.setAttribute("type", "submit");
  submitelement.setAttribute("name", "dsubmit");
  submitelement.setAttribute("value", "Submit");
  createform.appendChild(submitelement);

  x.appendChild(createform);
  console.log("X element");
  
}

//document.addEventListener("click", set_xy);
</script>
<script type="text/javascript">mark_image({{coords | safe}})</script>
{% endblock %}
