<!doctype html>
<head>
    <title>List of Records</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="records">
        <ul>
    {% for record in records %}
            <li><a href="record/{{record}}">{{record}}</a></li>
    {% endfor %}
        </ul>
    </div>
    <div id="upload">
    <h2>Upload new File</h2>
    <form method=post enctype=multipart/form-data>
      <fieldset>
        <legend>Set image layout</legend>
        <div>
          <input type="checkbox" id="portrait" name="interest" value="portrait">
          <label for="portrait">Portrait</label>
        </div>
        <div>
          <input type="checkbox" id="landscape" name="interest" value="landscape">
          <label for="landscape">Landscape</label>
        </div>
      </fieldset>
      <input type=file name=file>
      <input type=submit value=Upload>
    </form>
 </div>
</body>
</html>
