{% block body %}
<canvas id='myCanvas' width="968" height="950"></canvas>
<p id="log" />
<script type="text/javascript">
var el = document.getElementsByTagName("canvas")[0];
  el.addEventListener("touchstart", handleStart, false);
  el.addEventListener("touchend", handleEnd, false);
  el.addEventListener("touchcancel", handleCancel, false);
  //el.addEventListener("touchmove", handleMove, false);
  el.addEventListener("mouseup", handleEnd, false);
   log("initialising")

  // array for ongoing touches
  var onGoingTouches = []

  function handleStart(evt) {
    evt.preventDefault();
    log("touchstart.");
    var touches = evt.changedTouches;
        
    for (var i in touches) {
      onGoingTouches.push(touches[i]);
      log("touchstart:" + touches[i] + "."); 
    }
  }

  function handleCancel(evt) {
    evt.preventDefault();
    var touches = filterItems(evt.changedTouches);
  }

  function handleEnd(evt) {
    evt.preventDefault();
    log("touchend");
    var touches = filterItems(evt.changedTouches);
   
    if (touches.length > 0) {
      for (var i in touches) { sendPost(touches[i]); }; 
    } else {
      log("can't figure out which touch to end");
    }
  }
   // General Functions
  function filterItems(array_b) {
    return onGoingTouches.filter(function (t) { 
       return t.indexOf(t) > 0;
      });
  }


  function log(msg) {
    var p = document.getElementById('log');
    p.innerHTML = msg + "\n" + p.innerHTML;
  }
  /**
  *  Function to send data to the current page asynchronously
  */
  function sendPost(d) {
    var client = new XMLHttpRequest();
    client.open("POST", "/turner_image", false); //false to prevent synchronous call
    client.setRequestHeader("Content-Type", "text/plain;charset=UTF-8");
    client.send(d.pageX, d.pageY);
  }


</script>
{% endblock %}
