{% block body %}
<canvas id='myCanvas' width="968" height="950"></canvas>
<p id="log" />
<script type="text/javascript">
var el = document.getElementsByTagName("canvas")[0];
  el.addEventListener("touchstart", handleStart, false);
  el.addEventListener("touchend", handleEnd, false);
  el.addEventListener("touchcancel", handleCancel, false);
  //el.addEventListener("touchmove", handleMove, false);
  el.addEventListener("mouseup", handleEnd, false);
   log("initialising")

  // array for ongoing touches
  var onGoingTouches = []
  var touches = []

  function handleStart(evt) {
    evt.preventDefault();
    log("touchstart.");
    /*var touches = evt.changedTouches;
        
    for (var i in touches) {
      onGoingTouches.push(touches[i]);
      log("touchstart:" + touches[i] + "."); 
    }*/
  }

  function handleCancel(evt) {
    evt.preventDefault();
    //var touches = filterItems(evt.changedTouches);
  }

  function handleEnd(evt) {
    evt.preventDefault();
    log("touchend");
    var touches = evt.changedTouches;
   
    if (touches && touches.length > 0) {
      for (var i in touches) { sendPost(touches[i]); }; 
    } else {
      log("can't figure out which touch to end");
    }
  }
   // General Functions
  function filterItems(touches) {
    return onGoingTouches.filter(function(d) { !touches.includes(d); });
  }


  function log(msg) {
    var p = document.getElementById('log');
    p.innerHTML = msg + "\n" + p.innerHTML;
  }
  /**
  *  Function to send data to the current page asynchronously
  */
  function sendPost(d) {
    if (d.pageX) {
      var client = new XMLHttpRequest();
      client.open("POST", "/turner_image", false); //false to prevent synchronous call
      client.setRequestHeader("Content-Type", "application/json");
      client.send(JSON.stringify({'x':d.pageX, 'y':d.pageY}));
    }
  }
</script>
{% if sound %}
var touchSoundBuffer = null;
// Fix up prefixing
window.AudioContext = window.AudioContext || window.webkitAudioContext;
var context = new AudioContext();
var url = "../static/audio/{{sound}}";

function loadSound(url) {
  var request = new XMLHttpRequest();
  request.open('GET', url, true);
  request.responseType = 'arraybuffer';

  // Decode asynchronously
  request.onload = function() {
    context.decodeAudioData(request.response, function(buffer) {
      touchSoundBuffer = buffer;
    }, onError);
  }
  request.send();
}

function playSound(buffer) {
  var source = context.createBufferSource(); // creates a sound source
  source.buffer = buffer;                    // tell the source which sound to play
  source.connect(context.destination);       // connect the source to the context's destination (the speakers)
  source.start(0);                           // play the source now                                            // note: on older systems, may have to use deprecated noteOn(time);
}

{% endif %}
{% endblock %}
